html, body {
  height: 100%;
}

body {
  height: 100%;
  font: 700 13.9px/1.198 Helvetica, Arial;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  background: url(/bg.jpg) center center no-repeat;
  background-color: #f78c58;
  background-size: 512px;
}

.clickfocus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

a {
  color: #000;
  text-decoration: none;
}

#credits {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

#kanye {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 512px;
  height: 512px;
  margin: -256px 0 0 -256px;
}

input {
  position: absolute;
  top: -999px;
  left: -999px;
}

#kanye > div, img {
  position: absolute;
}

#kanye > div > div {
  position: relative;
  width: 2000px;
  left: -927px;
  text-align: center;
}

#block1 {
  left: 40px;
  top: 30px;
}

#block2 {
  left: 41px;
  top: 135px;
}

#block3 {
  left: 38px;
  top: 263px;
}

#block4 {
  left: 187px;
  top: 82px;
}

#block5 {
  left: 187px;
  top: 195px;
}

#block6 {
  left: 192px;
  top: 329px;
}

#block7 {
  left: 326px;
  top: 73px;
}

#block8 {
  left: 328px;
  top: 201px;
}

#block9 {
  left: 313px;
  top: 321px;
}

img {
  left: 65px;
  top: 397px;
  width: 119px;
  height: 83px;
}


