body {
  background: #f78c58;
  font: 700 13.9px/1.3 Helvetica, Arial;
  letter-spacing: 0.03em;
  color: #000;
  text-transform: uppercase;
}

.clickfocus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

a {
  color: #000;
}

#credits {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

#kanye {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 512px;
  height: 512px;
  margin: -256px 0 0 -256px;
}

input {
  position: absolute;
  top: -999px;
  left: -999px;
}

#kanye > div, img {
  position: absolute;
  width: 2000px
}

#block1 {
  left: 42px;
  top: 34px;
}

#block2 {
  left: 44px;
  top: 138px;
}

#block3 {
  left: 41px;
  top: 264px;
}

#block4 {
  left: 188px;
  top: 85px;
}

#block5 {
  left: 187px;
  top: 197px;
}

#block6 {
  left: 192px;
  top: 330px;
}

#block7 {
  left: 324px;
  top: 75px;
}

#block8 {
  left: 326px;
  top: 204px;
}

#block9 {
  left: 311px;
  top: 321px;
}

img {
  left: 67px;
  top: 394px;
  width: 118px;
  height: 82px;
}


